.cotainer-fluid{
    background-color: palevioletred;
    color: black;
    height: 100vh;
  
}
.flex-box{
    display: flex;
}
.card-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#img-pedido{
    width: 10em;
}