.general_container {
    display: flex;
    background-color: #795A30;
    padding-top: 30px;
    padding-bottom: 20px;
}

.container-fluid {
    background-color: #795A30;
    color: black;
    height: 48vh;
    display: flex !important;
    flex-direction: column;
    max-width: 10%;
    position: relative;
    margin: 0;
    padding: 0 20px 10px 0;
}

.container-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #AB8A3C;
    margin: 0;
}

.btn_pedidos {
    background: rgba(121, 90, 48, 0.38);
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.35);
    margin: 20px;
    color: #fff;
    border: none;
}

.btn_pedidos:hover {
    background-color: #9f773f;
}

.btn_pedidos:focus {
    background-color: #EDD08A;
    color: #574431;
}

.flex-box {
    display: flex;
}

.card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 40%;
    background-color: #fff;
    border-radius: 10px;
    filter: drop-shadow(5px 4px 8px rgba(0, 0, 0, 0.25));
}

#img-pedido {
    max-width: 6em;
    min-height: 6em;
    border-radius: 100px;
}

.card {
    background: #EDD08A !important;
    --bs-card-border-color: none !important;
    border: #443527 !important;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    display: flex;
    text-align: center;
    width: 270 !important;
    height: 186px;
    margin: 14px 15px !important;
    padding-bottom: 10px 20px;
}

.card p {
    margin-bottom: 5px !important;
}

.btn-success {

    width: 80%;
    background: #795A30 !important;
    border: 1px solid #443527 !important;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.35);
}

.card-footer {
    display: flex;
    justify-content: center;
    padding: 0 0 20px 0;

}

.box-name-price {
    width: 50%;
}

.font-name {
    font-family: 'Rubik', sans-serif;
    color: #574431;

}

.font-price {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

.card-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.category-icon {
    width: 30px;
    padding: 5px;
}

/********** css order pedido *****************/
.order_pedido {
    margin: 0 10px 10px 10px;
    background-color: #fff;
    width: 45%;
    padding: 20px;
}

.table_pedidos {
    background-color: #fff;
    padding: 5px;
    margin-top: 20px;
}

.inputOrder {
    width: 80%;
    margin: 1em 0 1em 0;
    border-radius: 8px;
    border: #795A30;
    outline: none;
    padding: .5em;
    background-color: #ebd5b6;

}

#input_name_user {
    width: 60%;

}

#input_num_table {
    width: 26.5%;
    margin-left: 13%;

}

.solid {
    border-top: 3px solid #795A30;
}

.spaceTotal {
    background-color: #795A30;
    padding: 5px;
    color: #fff;
    font-size: 18px;
}

/* botones de envio o cancelar */

.btn_accesos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.btn-envio {
    background-color: #4cbb59;
    font-weight: 600;
    font-size: 18px;
    text-shadow: 1px 1px 5px #fff;
}
.btn-danger{
    font-weight: 600;
    font-size: 18px;
    color: #090909;
    text-shadow: 1px 1px 5px #fff;
}