<app-navbar></app-navbar>
<div class="container-fluid text-center">
    <h1>vista pedidos</h1>
   
</div>
<div class="card-box">
    <div  *ngFor="let pedido of pedidos" class="card border-success m-3" style="max-width: 18rem;">
        <div class="card-body text-success">
          <h5 class="card-title"> <img id="img-pedido" [src]="pedido.img" /></h5>
          <h5 class="card-title">{{pedido.name}}</h5>
          <h5 class="card-title"> Costo: s/.{{pedido.price}}</h5>
          <!-- <p class="card-text">{{pedido.category}}</p> -->
        </div>
        <div class="card-footer bg-transparent border-success flex-box">
            <button type="button" class="btn btn-success">Añadir</button>
            <h5 class="m-2"> 1 </h5>
            <button type="button" class="btn btn-danger">Quitar</button>

        </div>
    </div>
</div>


