<section class="principal center">
    <div>  
        <div class="center boxImgLogo">
            <img class="img-logo" src="https://static.vecteezy.com/system/resources/previews/002/412/377/original/coffee-cup-logo-coffee-shop-icon-design-free-vector.jpg">
        </div>       
        <div class="formLog m-3 p-4">                      
            <h2>Login - Coffe Dream</h2>
            <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" formControlName="email" >
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="password" >
                </div>
                <div class="center">
                    <input class="btnClass" type="submit" value="Enviar">

                </div>
            </form>
        </div>
    </div>
    <!-- <div id="foto" class="middle">

    </div> -->
</section>