<section class="principal center">
    <div id="formL">
        <div class="formLog">
            <div class="center">
                <img src="https://cdn5.f-cdn.com/contestentries/1213094/19670570/5a3d325e9c7d6_thumb900.jpg">
            </div>
            <h2>Login - Coffe Dream</h2>
            <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" formControlName="email" >
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="password" >
                </div>
                <div class="center">
                    <input class="btnClass" type="submit" value="Enviar">

                </div>
            </form>
        </div>
    </div>
    <!-- <div id="foto" class="middle">

    </div> -->
</section>