// clases globales
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnClass{
    width: 100%;
    height: 2.5em;
    text-align: center;
    border-radius: 15px;
    border: none;
    margin-top: 1em;
    background-color: #795A30;
    color: #ffff;
    font-size: 22px;
    font-weight:900px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btnClass:hover{
    background-color: #AB8A3C;
}


// clases locales

.principal{
    background-image: url('https://fondosmil.com/fondo/15532.jpg');
    background-size: cover;
    height: 100%;     
}

.formLog{
    background-color: #fcb54a; 
    border-radius: 25px; 
   }
.formLog h2{
    padding-top: 1em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boxImgLogo{
    position: relative;
}
.img-logo{
    position: absolute;
    width: 6em;
    border-radius: 100px 100px; 
    margin-top: 2em;
}
