.bg-primary{
    background-color:#C29E46 !important;
    color: #fff !important;
}

.nav-link {
    color:#fff !important;
    font-size: 18px;
    font-weight: 600;
    background: rgba(121, 90, 48, 0.38);
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.35);
    padding: 8px 10px !important;
}
.navbar-brand{
    text-shadow: 5px 8px 12px rgba(0, 0, 0, 0.35);
    padding: 0.5em 1em;
}
.box-logo{
    width: 20%;
}
.box-item{
    width: 80%;
    display: flex;
    justify-content: center;
}
// Estados del pedido
.box-estados{
    display: flex;
    padding: 1em;
    justify-content: center;
    background-color:rgb(218, 172, 139);
}
.box-pedidos{
    width: 33.33%;
}
