<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/login"><img class="logo_navbar"
        src="https://static.vecteezy.com/system/resources/previews/000/182/415/original/dream-coffee-shop-logo-free-vector.jpg" /></a>
    <a class="navbar-brand" routerLink="/login">Coffee Dream</a>
    <div class="collapse " id="navbarSupportedContent">
      <ul class="navbar-nav   mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" routerLink="/pedidos">Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/controlPedidos">Control de Pedidos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>