<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="box-logo">
            <a class="navbar-brand" routerLink="/login">Coffee Dream</a>
        </div>
        <div class="box-item">
            <a class="nav-link">Control de Pedidos</a>
        </div>
    </nav>
</header>
<div class="box-estados">

    <!-- pedidos pendientes -->
    <div class="box-pedidos ">
        <div class="titlePending">
            <p >Pendientes</p>
        </div>
        <div class="container-fluid text-center">          
                <div *ngFor="let orden of arrPending" class="card border-danger" style="max-width: 18rem;">
                    <div class="card-body">
                        <div class="box-name-price">
                            <p class="font-name nameFonweight">Cliente: {{orden.nameCliente}}</p>
                            <p class="font-name">Total de Productos: {{orden.arrOrder.length}}</p>

                            <div *ngFor="let pedidos of orden.arrOrder">
                                <p class="font-name">{{pedidos.cantidad}} {{pedidos.nombre}}</p>
                            </div>

                        </div>
                        <div class="card-footer bg-transparent border-danger flex-box">
                            <button type="button" class="btn btn-danger"
                                (click)="statusPreparing(orden)">Preparar</button>
                        </div>
                        <!-- <p class="card-text">{{pedido.category}}</p> -->
                    </div>

                </div>
           
        </div>
    </div>
    <div class="v-line">
    </div>
    <!-- cambiar estado de en preparacion a preparado -->
    <div class="box-pedidos">
        <div id="preparationTitle" class="titlePending">
            <p >En Preparación</p>
        </div>
        <div class="container-fluid text-center">
                <div *ngFor="let orden of arrPreparing" class="card border-success text-center" style="max-width: 18rem;">
                    <div class="card-body flex-box">
                        <div class="box-name-price">
                            <p class="font-name nameFonweight">Cliente: {{orden.nameCliente}}</p>
                            <p class="font-name">Total de Productos: {{orden.arrOrder.length}}</p>

                            <div *ngFor="let pedidos of orden.arrOrder">
                                <p class="font-name">{{pedidos.cantidad}} {{pedidos.nombre}}</p>
                            </div>

                        </div>
                        <div class="card-footer bg-transparent border-success flex-box">
                            <button type="button" class="btn btn-success"
                                (click)="statusPrepared(orden)">Entregar</button>
                        </div>
                        <!-- <p class="card-text">{{pedido.category}}</p> -->
                    </div>

            </div>
        </div>
    </div>
    <div class="v-line2">
    </div>
    <div class="box-pedidos">
        <div id="cancelTitle" class="titlePending">
            <p >Cancelados</p>
        </div>
        <div class="container-fluid text-center">
                <div *ngFor="let orden of arrCancel" class="card border-danger" style="max-width: 18rem;">
                    <div class="card-body flex-box">
                        <div class="box-name-price">
                            <p class="font-name nameFonweight">Cliente: {{orden.nameCliente}}</p>
                            <p class="font-name">Total de Productos: {{orden.arrOrder.length}}</p>

                            <div *ngFor="let pedidos of orden.arrOrder">
                                <p class="font-name">{{pedidos.cantidad}} {{pedidos.nombre}}</p>
                            </div>

                        </div>
                        <!-- <p class="card-text">{{pedido.category}}</p> -->
                    </div>

                </div>
        </div>
    </div>
</div>