.bg-primary{
    background-color:#C29E46 !important;
    color: #fff !important;
    padding:1em;
}

.nav-link {
    color:#fff !important;
    font-size: 18px;
    font-weight: 600;
    background: rgba(121, 90, 48, 0.38);
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.35);
    padding: 8px 10px !important;
}
.navbar-brand{
    text-shadow: 5px 8px 12px rgba(0, 0, 0, 0.35);
    padding: 0.5em 1em;
}
.box-logo{
    width: 20%;
}
.box-item{
    width: 80%;
    display: flex;
    justify-content: center;
}
// Estados del pedido
.box-estados{
    display: flex;
    justify-content: center;
    background-color:#795A30;
    height: 100%;
}
.box-pedidos{
    width: 33.33%;
    
}
// pedidos pendientes
.titlePending{
    padding: 0.5em;
    background-color: #F27227;
}
.titlePending p{
    text-align: center;
    color: #fff;
}
#preparationTitle{
    background-color: #2C926A;
}
#cancelTitle{
    background-color: #CE1932;
}
// lineas verticales de division

.v-line{
    border-left:  solid #fff;
    height:100%;
    left: 33.33%;
    position: absolute;
   }
.v-line2{
    border-left:  solid #fff;
    height:100%;
    left: 66.66%;
    position: absolute;
}

// estilos para los card
.card{
    padding: .5em;
    margin: 1em;
    width: 80%;
}
.card-body{
    padding: 0;
}
.box-name-price p{

    width: 20%;
}
.box-name-price p{
    width: 100%;
}
.container-fluid{
    display: flex;
    justify-content: center;
}
.nameFonweight{
    font-weight: 800;
}